@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
  font-family: 'Yekan Bakh Regular';
  src: url("/fonts/REGULAR.ttf") format(opentype) tech(variations);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
} */

@font-face {
  font-family: 'Yekan Bakh Regular';
  src: url("/fonts/REGULAR.woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh Bold';
  src: url("/fonts/HEAVY.woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

.input-bordered {
  outline: none !important;
}

* {
  font-family: 'Yekan Bakh Regular', sans-serif;
}


.f-bold {
  font-family: 'Yekan Bakh Bold';
}