@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
  font-family: 'Yekan Bakh Regular';
  src: url("/fonts/REGULAR.ttf") format(opentype) tech(variations);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
} */

@font-face {
  font-family: 'Yekan Bakh Regular';
  src: url("/fonts/REGULAR.woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh Bold';
  src: url("/fonts/HEAVY.woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh Fat';
  src: url("/fonts/FAT.woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

.input, .select, .textarea {
  outline: none !important;
}

* {
  font-family: 'Yekan Bakh Regular', sans-serif;
}


.f-bold {
  font-family: 'Yekan Bakh Bold';
}

.f-fat {
  font-family: 'Yekan Bakh Fat';
}

.text-shadow {
  text-shadow: 1px 1px 2px #000;
}

[data-theme=halloween] .text-shadow {
  text-shadow: 1px 1px 2px #a6adba;
}


.masonary {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
